::selection {
  color: goldenrod;
}

* {
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
  font-family: "Magister Mono";
  color: white;
  background-color: black;
}

body {
  margin: unset;
}

h1, h2, h3 {
  font-size: unset;
  font-weight: unset;
  margin: unset;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: unset;
}

a {
  color: unset;
}

figure {
  margin: unset;
}

figcaption {
  margin: unset;
}

dl {
  margin: unset;
}

dd {
  margin: unset;
}

input {
  display: block;
  background: unset;
  outline: unset;
  border: unset;
  font: unset;
  color: unset;
}

button {
  display: inline-block;
  background: unset;
  outline: unset;
  border: unset;
  font: unset;
  color: unset;
}

summary {
  list-style: none;
}
summary::-webkit-details-marker {
  display: none;
}

img {
  width: 100%;
  display: block;
}

@font-face {
  font-family: "Magister Mono";
  src: url("/assets/fonts/MagisterMonoST_Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Magister";
  src: url("/assets/fonts/MagisterST_Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --space-xxs: 0.25rlh;
  --space-xs: 0.5rlh;
  --space-sm: 1rlh;
  --space-md: 2rlh;
  --space-lg: 4rlh;
  --space-xl: 6rlh;
  --space-xxl: 8rlh;
  --font-size: 22px;
  --font-size-sm: 0.75rem;
  --font-size-lg: 5rem;
  --max-width: 1200px;
}
@media (max-width: 1200px) {
  :root {
    --font-size: 18px;
    --font-size-lg: 3.5rem;
    --space-md: 1.5rlh;
    --space-lg: 3rlh;
    --space-xl: 6rlh;
    --space-xxl: 6rlh;
  }
}
@media (max-width: 600px) {
  :root {
    --font-size: 15px;
    --font-size-lg: 3rem;
    --space-md: 1rlh;
    --space-lg: 2rlh;
    --space-xl: 4rlh;
    --space-xxl: 4rlh;
  }
}

.u-bodyText p + p {
  margin-top: 1rlh;
}

html, body {
  height: 100%;
}

html {
  overflow: hidden;
  background-color: black;
}

body {
  overflow: scroll;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 0.5s;
  pointer-events: none;
  z-index: -1;
}
body.is-dimmed::before {
  opacity: 0.1;
}

.Background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.Background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 600px) {
  .Background-image--mobile {
    display: none;
  }
}
@media (max-width: 600px) {
  .Background-image--desktop {
    display: none;
  }
}

.MainNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 5;
}
.MainNav a {
  text-decoration: none;
}
.MainNav .Footer {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  min-height: unset;
  color: black;
}

.MainNav-summary {
  position: relative;
  padding: var(--space-sm);
  z-index: 2;
  cursor: pointer;
}

.MainNav-list {
  padding: var(--space-sm);
  padding-left: calc(12.5% + var(--space-md));
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--theme-color);
}

.MainNav-item {
  cursor: pointer;
}

.MainNav-details[open] + .Footer {
  display: block;
}

.Header {
  margin: var(--space-lg) 0;
  font-family: "Magister";
  font-size: var(--font-size-lg);
  text-align: center;
  position: relative;
  line-height: 1;
}
.Header--main {
  margin-top: 0;
  height: 100dvh;
}

.Header-text,
.Header-shadow {
  padding: var(--space-sm);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.Header-text {
  position: relative;
  z-index: 1;
}

.Header-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: transparent;
  text-shadow: var(--x-offset) var(--y-offset) 0.175em var(--theme-color);
  mix-blend-mode: darken;
  z-index: 0;
}

.Content {
  display: flow-root;
  margin: var(--space-md) 0;
}

.Block {
  margin: var(--space-md) auto;
  padding: 0 var(--space-md);
  max-width: 75%;
}
.Block--exhibitors {
  display: grid;
  gap: var(--space-sm);
  grid-template-columns: 1fr 2fr;
}
@media (max-width: 600px) {
  .Block--exhibitors .Block-header {
    text-transform: uppercase;
  }
}
.Block--exhibitors .Block-body {
  columns: 2;
}
@media (max-width: 600px) {
  .Block--exhibitors .Block-body {
    columns: 1;
  }
}
@media (max-width: 600px) {
  .Block--exhibitors {
    grid-template-columns: 1fr;
  }
}
.Block--featuredExhibitors {
  margin: var(--space-lg) auto;
  padding: 0 var(--space-md);
}
.Block--featuredExhibitors .Block-header {
  display: flex;
  justify-content: space-between;
}
.Block--header {
  margin: var(--space-xl) auto;
  font-family: "Magister";
  font-size: var(--font-size-lg);
  line-height: 1;
  text-align: center;
  max-width: unset;
}
.Block--headerFigure {
  margin: var(--space-xl) auto;
  padding: 0 var(--space-md);
}
.Block--description {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--space-sm);
}
@media (max-width: 600px) {
  .Block--description {
    grid-template-columns: 1fr;
  }
}

.Block-header {
  margin: var(--space-sm) 0;
}

.Block-footer {
  margin: var(--space-sm) 0;
  font-size: var(--font-size-sm);
}

.HeaderFigure {
  position: relative;
  padding: var(--space-xl) var(--space-md);
  margin: auto;
  font-family: "Magister";
  font-size: var(--font-size-lg);
  line-height: 1;
  text-align: center;
}

.HeaderFigure-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.HeaderFigure-caption {
  position: relative;
}

.FeaturedExhibitors {
  display: grid;
  gap: var(--space-sm);
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
}

.FeaturedExhibitors-figure {
  position: relative;
  aspect-ratio: 4/5;
}

.FeaturedExhibitors-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.FeaturedExhibitors-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: var(--space-xs);
  font-size: var(--font-size-sm);
}

.Table {
  display: grid;
  gap: var(--space-sm);
}

.Table-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
@media (max-width: 600px) {
  .Table-item {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .Table-title {
    text-transform: uppercase;
  }
}

.Form {
  display: flex;
  gap: var(--space-xs);
}
.Form--register {
  padding: var(--space-md) 0;
  margin: var(--space-lg) 0;
  text-align: center;
}
.Form--register .Form-button {
  padding: 0.75rem 1.5rem;
  min-width: 33%;
}
@media (max-width: 600px) {
  .Form--register .Form-button {
    min-width: 50%;
  }
}

.Form-header {
  margin-bottom: var(--space-sm);
}

.Form-input {
  flex: 1;
  background-color: white;
  border: 2px solid white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  max-width: 60ch;
  box-shadow: inset 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
  color: var(--theme-color);
}

.Form-button {
  border: 2px solid white;
  padding: 0.25rem 0.5rem;
  background: linear-gradient(white 50%, rgb(220, 220, 220));
  color: var(--theme-color);
  border-radius: 0.25rem;
  cursor: pointer;
}

.Footer {
  padding: 0 var(--space-sm);
  margin-top: var(--space-xl);
  margin-bottom: var(--space-sm);
  font-size: var(--font-size-sm);
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--space-sm) - var(--space-md));
}

.Footer-header {
  flex: 1;
  grid-column: 1/-1;
  font-family: "Magister";
  font-size: var(--font-size-lg);
  line-height: 1;
  text-align: center;
  display: flex;
  align-items: center;
}

.Footer-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*# sourceMappingURL=main.css.map */
