::selection {
  color: black;
}

* {
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
  font-family: "Magister Mono";
  color: white;
  background-color: black;
}

body {
  margin: unset;
}

h1, h2, h3 {
  font-size: unset;
  font-weight: unset;
  margin: unset;
}

p {
  margin: unset;
}

a {
  color: unset;
}

figure {
  margin: unset;
}

figcaption {
  margin: unset;
}

dl {
  margin: unset;
}

dd {
  margin: unset;
}

input {
  display: block;
  background: unset;
  outline: unset;
  border: unset;
  font: unset;
  color: unset;
}

button {
  display: inline-block;
  background: unset;
  outline: unset;
  border: unset;
  font: unset;
  color: unset;
}

summary {
  list-style: none;
}
summary::-webkit-details-marker {
  display: none;
}

img {
  width: 100%;
  display: block;
}

@font-face {
  font-family: "Magister Mono";
  src: url("/assets/fonts/MagisterMonoST_Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Magister";
  src: url("/assets/fonts/MagisterST_Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --space-xs: 0.25rlh;
  --space-sm: 1rlh;
  --space-md: 2rlh;
  --space-lg: 4rlh;
  --space-xl: 8rlh;
  --font-size: 22px;
  --font-size-sm: 0.75rem;
  --font-size-lg: 5rem;
}

.u-bodyText p + p {
  margin-top: 1rlh;
}

.Background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.Background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s;
}

.Header {
  font-family: "Magister";
  font-size: var(--font-size-lg);
  position: relative;
  line-height: 1;
}
.Header--main {
  height: 100dvh;
}

.Header-title,
.Header-shadow {
  padding: var(--space-md);
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.Header-title {
  position: relative;
  z-index: 1;
}

.Header-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: transparent;
  text-shadow: var(--x-offset) var(--y-offset) 10px var(--theme-color);
  mix-blend-mode: darken;
  z-index: 0;
}

.Section {
  padding: var(--space-md);
  position: relative;
  z-index: 1;
  margin: auto;
}

.Section-container {
  display: grid;
  gap: var(--space-sm);
  color: white;
  align-items: start;
  align-content: start;
}

.Hours {
  display: grid;
  gap: var(--space-sm);
}

.Hours-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-md);
}

.Form {
  display: flex;
  gap: var(--space-xs);
}

.Form-input {
  flex: 1;
  background-color: white;
  border: 2px solid white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  max-width: 60ch;
  box-shadow: inset 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  color: var(--theme-color);
}

.Form-button {
  padding: 0.25rem 0.5rem;
  background-color: white;
  color: var(--theme-color);
  border-radius: 0.25rem;
}

.Footer {
  padding: var(--space-md);
  padding-top: var(--space-lg);
  font-size: var(--font-size-sm);
}

/*# sourceMappingURL=main.css.map */
