::selection {
  color: goldenrod;
}

* {
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
  font-family: "Magister Mono";
  color: white;
  background-color: black;
}

body {
  margin: unset;
}

h1, h2, h3 {
  font-size: unset;
  font-weight: unset;
  margin: unset;
}

p {
  margin: unset;
}

a {
  color: unset;
}

figure {
  margin: unset;
}

figcaption {
  margin: unset;
}

dl {
  margin: unset;
}

dd {
  margin: unset;
}

input {
  display: block;
  background: unset;
  outline: unset;
  border: unset;
  font: unset;
  color: unset;
}

button {
  display: inline-block;
  background: unset;
  outline: unset;
  border: unset;
  font: unset;
  color: unset;
}

summary {
  list-style: none;
}
summary::-webkit-details-marker {
  display: none;
}

img {
  width: 100%;
  display: block;
}

@font-face {
  font-family: "Magister Mono";
  src: url("/assets/fonts/MagisterMonoST_Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Magister";
  src: url("/assets/fonts/MagisterST_Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --space-xs: 0.25rlh;
  --space-sm: 1rlh;
  --space-md: 2rlh;
  --space-lg: 4rlh;
  --space-xl: 8rlh;
  --font-size: 22px;
  --font-size-sm: 0.75rem;
  --font-size-lg: 5rem;
}
@media (max-width: 1200px) {
  :root {
    --font-size: 18px;
    --font-size-lg: 3.5rem;
    --space-md: 1.5rlh;
    --space-lg: 3rlh;
    --space-xl: 6rlh;
  }
}
@media (max-width: 600px) {
  :root {
    --font-size: 15px;
    --font-size-lg: 3rem;
    --space-md: 1rlh;
    --space-lg: 2rlh;
    --space-xl: 4rlh;
  }
}

.u-bodyText p + p {
  margin-top: 1rlh;
}

.Background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.Background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s;
}

.Header {
  margin: var(--space-lg) 0;
  font-family: "Magister";
  font-size: var(--font-size-lg);
  text-align: center;
  position: relative;
  line-height: 1;
}
.Header--main {
  margin-top: 0;
  height: 100dvh;
}

.Header-text,
.Header-shadow {
  padding: var(--space-md);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.Header-text {
  position: relative;
  z-index: 1;
}

.Header-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: transparent;
  text-shadow: var(--x-offset) var(--y-offset) 0.175em var(--theme-color);
  mix-blend-mode: darken;
  z-index: 0;
}

.Block {
  padding: 0 var(--space-md);
  margin: var(--space-sm) 0;
}
.Block--heading {
  padding: 0;
  margin: var(--space-lg) 0;
}

.Table {
  display: grid;
  gap: var(--space-sm);
}

.Table-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-md);
}
@media (max-width: 600px) {
  .Table-item {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .Table-title {
    text-transform: uppercase;
  }
}

.Form {
  display: flex;
  gap: var(--space-xs);
}
.Form--register {
  padding: var(--space-md) 0;
  margin: var(--space-lg) 0;
  text-align: center;
}
.Form--register .Form-button {
  padding: 0.75rem 1.5rem;
}

.Form-header {
  margin-bottom: var(--space-sm);
}

.Form-input {
  flex: 1;
  background-color: white;
  border: 2px solid white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  max-width: 60ch;
  box-shadow: inset 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
  color: var(--theme-color);
}

.Form-button {
  border: 2px solid white;
  padding: 0.25rem 0.5rem;
  background: linear-gradient(white 50%, rgb(220, 220, 220));
  color: var(--theme-color);
  border-radius: 0.25rem;
  cursor: pointer;
}

.Footer {
  padding: 0 var(--space-md);
  margin-top: var(--space-lg);
  margin-bottom: var(--space-md);
  font-size: var(--font-size-sm);
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=main.css.map */
