// RESET
// ===========================

::selection {
	color: goldenrod;
}

* {
	box-sizing: border-box;
}

html {
	font-size: var(--font-size);
	font-family: 'Magister Mono';
	color: white;
	background-color: black;
}

body {
	margin: unset;
	scroll-padding-top: var(--space-sm);
}

h1, h2, h3 {
	font-size: unset;
	font-weight: unset;
	margin: unset;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

p {
	margin: unset;
}

a {
	color: unset;
}

figure {
	margin: unset;
}

figcaption {
	margin: unset;
}

dl {
	margin: unset;
}

dd {
	margin: unset;
}

input {
	display: block;
	background: unset;
	outline: unset;
	border: unset;
	font: unset;
	color: unset;
}

button {
	display: inline-block;
	background: unset;
	outline: unset;
	border: unset;
	font: unset;
	color: unset;
}

summary {
	list-style: none;

	&::-webkit-details-marker {
	display: none;
	}
}

img {
	width: 100%;
	display: block;
}