// PAGE
// ===========================

.Page {
	color: var(--theme-color);
	margin-top: calc(var(--space-lg) + 1rlh + var(--space-xs));
	padding: 0 var(--space-sm);
	display: grid;
	gap: var(--space-lg);
}

.Page-footer {
	font-family: 'Magister';
	font-size: var(--font-size-lg);
	line-height: 1;
	text-align: center;
}