@use './_partials/reset.scss';
@use './_partials/variables.scss';
@use './_partials/utilities.scss';

html, body {
	height: 100%;
}

html {
	overflow: hidden;
	background-color: black;
}

body {
	overflow: scroll;

	&::before {
		content: "";
		position: absolute;
		top: 0; left: 0; width: 100%; height: 100%;
		background-size: cover;
		background-position: center;
		transition: opacity 0.5s;
		pointer-events: none;
		z-index: -1;
	}

	&.is-dimmed::before {
		opacity: 0.1;
	}
}

// BACKGROUND
// ===========================

.Background {
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: -1;
}

.Background-image {
	position: absolute;
	top: 0; left: 0; 
	width: 100%; height: 100%;
	object-fit: cover;

	&--mobile {
		@media (min-width: 600px) {
			display: none;
		}
	}

	&--desktop {
		@media (max-width: 600px) {
			display: none;
		}
	}

}

// NAV
// ===========================

.MainNav {
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 0;
	z-index: 5;

	a {
		text-decoration: none;
	}

	.Footer {
		display: none;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 3;
		min-height: unset;
		color: black;
	}
}

.MainNav-summary {
	position: relative;
	padding: var(--space-sm);
	z-index: 2;
	cursor: pointer;
}

.MainNav-list {
	padding: var(--space-sm);
	padding-left: calc(12.5% + var(--space-md));
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	z-index: 1;
	background-color: var(--theme-color);
}

.MainNav-item {
	cursor: pointer;
}

.MainNav-details[open] + .Footer {
	display: block;
}

// HEADER
// ===========================

.Header {
	margin: var(--space-lg) 0;
	font-family: 'Magister';
	font-size: var(--font-size-lg);
	text-align: center;
	position: relative;
	line-height: 1;	

	&--main {
		margin-top: 0;
		height: 100dvh;
	}
}

.Header-text,
.Header-shadow {	
	padding: var(--space-sm);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.Header-text {
	position: relative;
	z-index: 1;
}

.Header-shadow {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	color: transparent;
	text-shadow: var(--x-offset) var(--y-offset) 0.175em var(--theme-color);
	mix-blend-mode: darken;
	z-index: 0;
}

// CONTENT
// ===========================

.Content {
	display: flow-root;
	margin: var(--space-md) 0;
}

// BLOCK
// ===========================

.Block {
	margin: var(--space-md) auto;
	padding: 0 var(--space-md);
	max-width: 75%;

	&--exhibitors {

		display: grid;
		gap: var(--space-sm);
		grid-template-columns: 1fr 2fr;

		.Block-header {
			@media (max-width: 600px) {
				text-transform: uppercase;
			}
		}

		.Block-body {
			columns: 2;

			@media (max-width: 600px) {
				columns: 1;
			}
		}

		@media (max-width: 600px) {
			grid-template-columns: 1fr;
		}
	}

	&--featuredExhibitors {
		margin: var(--space-lg) auto;
		padding: 0 var(--space-md);

		.Block-header {
			display: flex;
			justify-content: space-between;
		}
	}

	&--header {
		margin: var(--space-xl) auto;
		font-family: 'Magister';
		font-size: var(--font-size-lg);
		line-height: 1;
		text-align: center;
		max-width: unset;
	}

	&--headerFigure {
		margin: var(--space-xl) auto;
		padding: 0 var(--space-md);
	}

	&--description {
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: var(--space-sm);

		@media (max-width: 600px) {
			grid-template-columns: 1fr;
		}
	}
}

.Block-header {
	margin: var(--space-sm) 0;
}

.Block-footer {
	margin: var(--space-sm) 0;
	font-size: var(--font-size-sm);
}

// HEADER FIGURE
// ===========================

.HeaderFigure {
	position: relative;
	padding: var(--space-xl) var(--space-md);
	margin: auto;
	font-family: 'Magister';
	font-size: var(--font-size-lg);
	line-height: 1;
	text-align: center;
}

.HeaderFigure-image {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.HeaderFigure-caption {
	position: relative;
}

// FEATURED EXHIBITORS
// ===========================

.FeaturedExhibitors {
	display: grid;
	gap: var(--space-sm);
	grid-template-columns: repeat(3,1fr);
	margin: auto;
}

.FeaturedExhibitors-figure {
	position: relative;
	aspect-ratio: 4/5;
}

.FeaturedExhibitors-image {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	border-radius: 10px;
	object-fit: cover;
}

.FeaturedExhibitors-caption {
	position: absolute;
	bottom: 0; left: 0;
	width: 100%;
	padding: var(--space-xs);
	font-size: var(--font-size-sm);
}


// TABLE
// ===========================

.Table {
	display: grid;
	gap: var(--space-sm);
}

.Table-item {
	display: grid;
	grid-template-columns: 1fr 2fr;
	

	@media (max-width: 600px) {
		grid-template-columns: 1fr;
	}
}

.Table-title {
	@media (max-width: 600px) {
		text-transform: uppercase;
	}
}

// FORM
// ===========================

.Form {
	display: flex;
	gap: var(--space-xs);

	&--register {
		padding: var(--space-md) 0;
		margin: var(--space-lg) 0;
		text-align: center;

		.Form-button {
			padding: 0.75rem 1.5rem;
			min-width: 33%;

			@media (max-width: 600px) {
				min-width: 50%;
			}
		}
	}
}

.Form-header {
	margin-bottom: var(--space-sm);
}

.Form-input {
	flex: 1;
	background-color: white;
	border: 2px solid white;
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	max-width: 60ch;
	box-shadow: inset 0.25rem 0.25rem 1rem rgba(0,0,0,0.25);
	color: var(--theme-color);
}

.Form-button {
	border: 2px solid white;
	padding: 0.25rem 0.5rem;
	background: linear-gradient(white 50%, rgb(220,220,220));
	color: var(--theme-color);
	border-radius: 0.25rem;
	cursor: pointer;
}

// FOOTER
// ===========================

.Footer {
	padding: 0 var(--space-sm);
	margin-top: var(--space-xl);
	margin-bottom: var(--space-sm);
	font-size: var(--font-size-sm);
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - var(--space-sm) - var(--space-md));
}

.Footer-header {
	flex: 1;
	grid-column: 1/-1;
	font-family: 'Magister';
	font-size: var(--font-size-lg);
	line-height: 1;
	text-align: center;
	display: flex;
	align-items: center;
}

.Footer-columns {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}