@use './_partials/reset.scss';
@use './_partials/variables.scss';
@use './_partials/utilities.scss';

html, body {
	height: 100%;
}

html {
	overflow: hidden;
}

body {
	overflow: scroll;
}

// BACKGROUND
// ===========================

.Background {
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: -1;
	// background-image: var(--desktop-image);
	// background-size: cover;
	// background-position: center;

	// @media (min-width: 600px) {
	// 	background-image: var(--mobile-image);
	// }

}

.Background-image {
	position: absolute;
	top: 0; left: 0; 
	width: 100%; height: 100%;
	object-fit: cover;

	&--mobile {
		@media (min-width: 600px) {
			display: none;
		}
	}

	&--desktop {
		@media (max-width: 600px) {
			display: none;
		}
	}

}

// HEADER
// ===========================

.Header {
	margin: var(--space-lg) 0;
	font-family: 'Magister';
	font-size: var(--font-size-lg);
	text-align: center;
	position: relative;
	line-height: 1;	

	&--main {
		margin-top: 0;
		height: 100dvh;
	}
}

.Header-text,
.Header-shadow {	
	padding: var(--space-md);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.Header-text {
	position: relative;
	z-index: 1;
}

.Header-shadow {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	color: transparent;
	text-shadow: var(--x-offset) var(--y-offset) 0.175em var(--theme-color);
	mix-blend-mode: darken;
	z-index: 0;
}

// BLOCK
// ===========================

.Block {
	padding: 0 var(--space-md);
	margin: var(--space-sm) 0;

	&--heading {
		padding: 0;
		margin: var(--space-lg) 0;
	}
}

// TABLE
// ===========================

.Table {
	display: grid;
	gap: var(--space-sm);
}

.Table-item {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--space-md);

	@media (max-width: 600px) {
		grid-template-columns: 1fr;
	}
}

.Table-title {
	@media (max-width: 600px) {
		text-transform: uppercase;
	}
}

// FORM
// ===========================

.Form {
	display: flex;
	gap: var(--space-xs);

	&--register {
		padding: var(--space-md) 0;
		margin: var(--space-lg) 0;
		text-align: center;

		.Form-button {
			padding: 0.75rem 1.5rem;
		}
	}
}

.Form-header {
	margin-bottom: var(--space-sm);
}

.Form-input {
	flex: 1;
	background-color: white;
	border: 2px solid white;
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	max-width: 60ch;
	box-shadow: inset 0.25rem 0.25rem 1rem rgba(0,0,0,0.25);
	color: var(--theme-color);
}

.Form-button {
	border: 2px solid white;
	padding: 0.25rem 0.5rem;
	background: linear-gradient(white 50%, rgb(220,220,220));
	color: var(--theme-color);
	border-radius: 0.25rem;
	cursor: pointer;
}

// FOOTER
// ===========================

.Footer {
	padding: 0 var(--space-md);
	margin-top: var(--space-lg);
	margin-bottom: var(--space-md);
	font-size: var(--font-size-sm);
	display: flex;
	justify-content: space-between;
}